<div class="home-container">
  <header class="navbar" role="navigation">
    <nav>
      <a href="#about">About</a>
      <a href="#experience">Experience</a>
      <a href="#skills">Skills</a>
      <a href="#projects">Projects</a>
      <a href="#contact">Contact</a>
    </nav>
  </header>

  <main>
    <section class="hero" aria-labelledby="hero-title">
      <h1 id="hero-title">Hello, I'm Santiago Arteaga</h1>
      <p>Full Stack Developer Building Scalable Enterprise Applications & Exploring the Future with AI & Machine Learning</p>
    </section>

    <section id="about" class="about-section" aria-labelledby="about-title">
      <h1 id="about-title">About Me</h1>
      <p class="about-text-box">👨‍💻Full Stack Developer specializing in enterprise-grade applications, with expertise in both frontend and backend development. I thrive in tackling complex challenges, delivering results-driven solutions, and consistently executing with precision. 🎓Holding a Master’s in Computer Information Systems and currently pursuing a Master’s in AI & Machine Learning to bridge cutting-edge technology with real-world impact.🤖</p>
    </section>

    <section id="experience" class="experience-section" aria-labelledby="experience-title">
      <h1 id="experience-title">Experience</h1>
      <div class="experience-item">
        <h2>Full Stack Developer II</h2>
        <p><strong>Company:</strong> FedEx Services | <strong>Duration:</strong> January 2023 – Present</p>
        <h3>CI/CD</h3>
        <ul>
          <li>Implemented CI/CD pipelines using GitHub Actions, automating deployment and testing, resulting in a 15% increase
            in deployment efficiency</li>
        </ul>
        <h3>Data Center Migration (New Application)</h3>
        <ul>
          <li>Migrated a new asset application to a state-of-the-art Data Center, coordinating JMS queue testing, database provisioning, and environment validation. Ensured successful transition without modernizing legacy infrastructure.</li>
        </ul>
        <h3>Mailbox Migration Initiative</h3>
        <ul>
          <li>Transitioned legacy mailboxes to cloud-based solutions by orchestrating directory setups, configuring file delivery for applications, and validating data flow with external teams.</li>
        </ul>
        <h3>IBM SSO Configuration</h3>
        <ul>
          <li>Implemented SSO integration with IBM for seamless user authentication, automated user transitions from local authentication to SAML, and resolved metadata issues.</li>
        </ul>
        <h3>Colocation Migration</h3>
        <ul>
          <li>Re-architected and migrated 7 mission-critical applications to a new Colocation, optimizing deployment pipelines and reducing build times by 20%.</li>
          <li class="highlight">Contributed to $400M in annual savings and earned the Bravo Zulu Award for leadership and contributions.</li>
        </ul>
        <h3>Mainframe Initiative</h3>
        <ul>
          <li>Supported the transition of five applications from DB2 to PureScale databases. Documented configurations, migrated batch jobs, and ensured smooth post-migration operations.</li>
        </ul>
        <h3>zNative Batch Jobs</h3>
        <ul>
          <li>Diagnosed and transitioned zNative batch jobs to production environments using One Automation and WinSCP, ensuring reliability during high-stakes transitions.</li>
        </ul>
        <h3>IBM Maximo</h3>
        <ul>
          <li>Coordinated the migration of 19 microservices from IBM mainframe to PCF, resolving compliance gaps and avoiding $9M in delays.</li>
          <li class="highlight">Earned the FedEx Quality Driven Management (QDSM) Award for leadership and contributions.</li>
        </ul>
      </div>
      <!-- Experience Item 2 -->
      <div class="experience-item">
        <h2>Full Stack Developer I</h2>
        <p><strong>Company:</strong> FedEx Services | <strong>Duration:</strong> January 2021 – January 2023
        <h3>Application Modernization</h3>
        <ul>
          <li>Led the modernization of an AngularJS application by integrating SASS, TypeScript, and reusable StencilJS components.</li>
          <li>Created a new Spring Boot Request Gateway to handle REST APIs, securing the endpoints with Okta authentication for robust access control.</li>
          <li>Developed an Angular 9 application that consumed the Request Gateway APIs, efficiently mapping backend data to the frontend for an enhanced user experience.</li>
          <li>Provided technical expertise to offshore and onshore teams, resolving technical challenges and maintaining productivity.</li>
          <li>Contributed to design reviews, sprint planning, and code reviews in an Agile SCRUM environment, ensuring product scalability and adaptability.</li>
          <li>Developed reusable components to the FedEx component library, meeting stringent UI/UX and coding standards, becoming the first Freight team to do so.</li>
          <li>Actively participated in design reviews, addressing design flaws to ensure product adaptability and scalability.</li>
          <li>Achieved 100% test coverage through unit tests and optimized testing, resulting in a 25% time saving in the testing phase.</li>
          <li>Worked closely with designers to translate wireframes into high-quality front-end code</li>
          <li>Improved microservices code quality by achieving 85% unit test coverage, resulting in enhanced system reliability.</li>
        </ul>
        <h3>Revenue Project</h3>
        <ul>
          <li>Enhanced Spring Boot microservices to support new surcharges, boosting operational efficiency and revenue generation.</li>
          <li class="highlight">Earned the IT Hall of Fame Award for contributions to this high-impact initiative.</li>
        </ul>
      </div>
    </section>

    <section id="skills" class="skills-section" aria-labelledby="skills-title">
      <h1 id="skills-title">Skills</h1>
      <div class="skills-grid">
        <div class="skill-item" *ngFor="let skill of skills">
          <img [src]="'/santiago.github.io/assets/' + skill.image" [alt]="skill.name" [title]="skill.name" />
        </div>
      </div>
      <div class="skills-names">
        <span class="skill-pill" *ngFor="let skill of skills">{{ skill.name }}</span>
      </div>
    </section>

 <section id="projects" class="project-section" aria-labelledby="project-title">
   <h1 id="project-title">Projects</h1>
   <div class="project-content">
     <div class="tabs-container">
       <button
         *ngFor="let project of filteredProjects; let i = index"
         [attr.data-bs-target]="'#carouselExampleIndicators'"
         [attr.data-bs-slide-to]="i"
         [class.active]="i === selectedProjectIndex"
         (click)="selectProject(i)">
         {{ project.category }}
       </button>
     </div>
     <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" role="region" aria-labelledby="project-title">
       <ol class="carousel-indicators">
         <li *ngFor="let project of filteredProjects; let i = index" [attr.data-bs-target]="'#carouselExampleIndicators'" [attr.data-bs-slide-to]="i" [class.active]="i === 0"></li>
       </ol>
       <div class="carousel-inner">
         <div *ngFor="let project of filteredProjects; let i = index" class="carousel-item" [class.active]="i === 0">
           <img class="d-block w-100" [src]="'/santiago.github.io/assets/' + project.image" [alt]="project.title + ' - Preview Image'">
           <div class="carousel-caption">
             <h5>{{ project.title }}</h5>
             <p class="d-none d-md-block">{{ project.description }}</p>
             <p class="d-block d-md-none">{{ project.shortDescription }}</p>
             <div class="pill-box-container">
               <span class="pill-carousel" *ngFor="let tech of project.technologies">{{ tech }}</span>
             </div>
             <button (click)="openDetails(project)" [disabled]="isLearnMoreDisabled">Learn More</button>
           </div>
         </div>
       </div>
       <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
         <span class="carousel-control-prev-icon" aria-hidden="true"></span>
         <span class="visually-hidden">Previous</span>
       </button>
       <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
         <span class="carousel-control-next-icon" aria-hidden="true"></span>
         <span class="visually-hidden">Next</span>
       </button>
     </div>
   </div>
 </section>

    <section id="contact" class="contact-section" aria-labelledby="contact-title">
      <h1 id="contact-title">Contact Me</h1>
      <p class="contact-text-box">Email: <a href="mailto:s.arteaga007@outlook.com">s.arteaga007&#64;outlook.com</a></p>
      <p class="contact-text-box">Phone: +1 (561) 797-4813</p>
      <p class="contact-text-box">LinkedIn: <a href="https://www.linkedin.com/in/samjd/" target="_blank" rel="noopener noreferrer">linkedin.com/in/santiago</a></p>
    </section>
  </main>

  <footer class="footer">
    <p>Built with Angular 19 | © 2025 Santiago Arteaga</p>
  </footer>
</div>
