<div class="home-container">
  <header class="navbar" role="navigation">
    <nav>
      <a href="#about">About | </a>
      <a href="#experience">Experience | </a>
      <a href="#skills">Skills | </a>
      <a href="#projects">Projects | </a>
      <a href="#contact">Contact</a>
    </nav>
  </header>

  <main>
    <section aria-labelledby="hero-title" class="hero">
      <h1 id="hero-title">Hello, I'm Santiago Arteaga</h1>
      <p>Full Stack Developer Building Scalable Enterprise Applications & Exploring the Future with AI & Machine
        Learning</p>
    </section>

    <section aria-labelledby="about-title" class="about-section" id="about">
      <h1 id="about-title">About Me</h1>
      <p class="about-text-box">👨‍💻Full Stack Developer specializing in enterprise-grade applications, with expertise in
        both frontend and backend development. I thrive in tackling complex challenges, delivering results-driven
        solutions, and consistently executing with precision. 🎓Holding a Master’s in Computer Information Systems and
        currently pursuing a Master’s in AI & Machine Learning to bridge cutting-edge technology with real-world
        impact 🤖.</p>
    </section>

    <section aria-labelledby="experience-title" class="experience-section" id="experience">
      <h1 id="experience-title">Experience</h1>
      <div class="experience-item">
        <h2>Full Stack Developer II</h2>
        <p><strong>Company:</strong> FedEx Services | <strong>Duration:</strong> January 2023 – Present</p>

        <h3>CI/CD</h3>
        <ul>
          <li>Implemented CI/CD pipelines using GitHub Workflows, automating deployment and testing, resulting in a <strong>15% increase in deployment efficiency</strong>.</li>
        </ul>

        <h3>Data Center Migration (New Application)</h3>
        <ul>
          <li>Migrated a new asset application to a <strong>state-of-the-art data center</strong>, coordinating <strong>JMS queue testing, database provisioning, and environment validation</strong>. Ensured a <strong>successful transition</strong> without modifying existing infrastructure.</li>
        </ul>

        <h3>Mailbox Migration Initiative</h3>
        <ul>
          <li>Transitioned legacy mailboxes to cloud-based solutions by orchestrating <strong>directory setups, file delivery configuration, and data validation</strong> with external teams.</li>
        </ul>

        <h3>IBM SSO Configuration</h3>
        <ul>
          <li>Implemented <strong>SSO integration with IBM</strong> for seamless user authentication, <strong>automated user transitions</strong> from local authentication to SAML, and resolved <strong>metadata issues</strong>.</li>
        </ul>

        <h3>Colocation Migration</h3>
        <ul>
          <li>Re-architected and migrated <strong>seven mission-critical applications</strong> to a new colocation, optimizing <strong>deployment pipelines</strong> and reducing <strong>build times by 20%</strong>.</li>
          <li><strong class="highlight">🏆Award:</strong> Contributor to <strong>$400M in annual savings</strong> and earned the <strong class="highlight">Bravo Zulu Award</strong> for leadership and contributions.</li>
        </ul>

        <h3>Mainframe Initiative</h3>
        <ul>
          <li>Supported the transition of <strong>five applications</strong> from <strong>DB2 to PureScale databases</strong>. Documented <strong>configurations, migrated batch jobs, and ensured smooth post-migration operations</strong>.</li>
        </ul>

        <h3>zNative Batch Jobs</h3>
        <ul>
          <li>Diagnosed and transitioned <strong>zNative batch jobs</strong> to <strong>production environments</strong> using <strong>One Automation and WinSCP</strong>, <strong>resolving production issues</strong>, and ensuring <strong>reliability during high-stakes transitions</strong>.</li>
        </ul>

        <h3>IBM Maximo</h3>
        <ul>
          <li>Coordinated the migration of <strong>19 microservices</strong> from <strong>IBM mainframe to PCF</strong>, resolving <strong>compliance gaps</strong> and avoiding <strong>$9M in delays</strong>.</li>
          <li><strong class="highlight">🏆Award:</strong> Earned the <strong class="highlight">FedEx Quality Driven Management (QDM) Award</strong> for high standards of <strong>quality, reliability, and performance contributions</strong>.</li>
        </ul>
      </div>

      <!-- Experience Item 2 -->
      <div class="experience-item">
        <h2>Full Stack Developer I</h2>
        <p><strong>Company:</strong> FedEx Services | <strong>Duration:</strong> January 2021 – January 2023</p>

        <h3>Application Modernization</h3>
        <ul>
          <li>Led the modernization of an <strong>AngularJS application</strong>, integrating <strong>SASS, TypeScript, and reusable StencilJS components</strong>.</li>
          <li>Developed a <strong>Spring Boot Request Gateway</strong> for handling <strong>REST APIs</strong>, securing endpoints with <strong>Okta authentication</strong>.</li>
          <li>Created an <strong>Angular 9 application</strong> that consumed the <strong>Request Gateway APIs</strong>, mapping <strong>backend data</strong> to the frontend.</li>
          <li>Provided <strong>technical expertise</strong> to offshore and onshore teams, resolving <strong>technical challenges</strong>.</li>
          <li>Contributed to <strong>design reviews, sprint planning, and Agile SCRUM meetings</strong>, ensuring <strong>scalability and adaptability</strong>.</li>
          <li>Developed <strong>reusable components</strong> for the <strong>FedEx component library</strong>, meeting <strong>UI/UX and coding standards</strong>.</li>
          <li>Achieved <strong>98% test coverage</strong>, optimizing testing and reducing <strong>test time by 25%</strong>.</li>
          <li>Improved <strong>microservices code quality</strong>, achieving <strong>85% unit test coverage</strong> for enhanced <strong>system reliability</strong>.</li>
        </ul>

        <h3>Revenue Project</h3>
        <ul>
          <li>Enhanced <strong>Spring Boot microservices</strong> to support <strong>new surcharges</strong>, boosting <strong>operational efficiency and revenue generation</strong>.</li>
          <li><strong class="highlight">🏆Award:</strong> Earned the <strong class="highlight">IT Hall of Fame Award</strong> for contributions to this <strong>high-impact initiative</strong>.</li>
        </ul>
      </div>
    </section>


    <section aria-labelledby="skills-title" class="skills-section" id="skills">
      <h1 id="skills-title">Skills</h1>
      <div class="skills-grid">
        <div *ngFor="let skill of skills" class="skill-item">
          <img [alt]="skill.name" [src]="'/santiago.github.io/assets/' + skill.image" [title]="skill.name"/>
        </div>
      </div>
      <div class="skills-names">
        <span *ngFor="let skill of skills" class="skill-pill">{{ skill.name }}</span>
      </div>
    </section>

    <section aria-labelledby="project-title" class="project-section" id="projects">
      <h1 id="project-title">Projects</h1>
      <div class="project-content">
        <div class="tabs-container">
          <button
            (click)="selectProject(i)"
            *ngFor="let project of filteredProjects; let i = index"
            [attr.data-bs-slide-to]="i"
            [attr.data-bs-target]="'#carouselExampleIndicators'"
            [class.active]="i === selectedProjectIndex">
            {{ project.category }}
          </button>
        </div>
        <div aria-labelledby="project-title" class="carousel slide" data-bs-ride="carousel" id="carouselExampleIndicators"
             role="region">
          <ol class="carousel-indicators">
            <li *ngFor="let project of filteredProjects; let i = index"
                [attr.data-bs-slide-to]="i" [attr.data-bs-target]="'#carouselExampleIndicators'"
                [class.active]="i === 0"></li>
          </ol>
          <div class="carousel-inner">
            <div *ngFor="let project of filteredProjects; let i = index" [class.active]="i === 0" class="carousel-item">
              <img [alt]="project.title + ' - Preview Image'" [src]="'/santiago.github.io/assets/' + project.image" class="d-block w-100">
              <div class="carousel-caption">
                <h5>{{ project.title }}</h5>
                <p class="d-none d-md-block">{{ project.description }}</p>
                <p class="d-block d-md-none">{{ project.shortDescription }}</p>
                <div class="pill-box-container">
                  <span *ngFor="let tech of project.technologies" class="pill-carousel">{{ tech }}</span>
                </div>
                <button (click)="openDetails(project)" [disabled]="isLearnMoreDisabled">Learn More</button>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" data-bs-slide="prev" data-bs-target="#carouselExampleIndicators"
                  type="button">
            <span aria-hidden="true" class="carousel-control-prev-icon"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" data-bs-slide="next" data-bs-target="#carouselExampleIndicators"
                  type="button">
            <span aria-hidden="true" class="carousel-control-next-icon"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </section>

    <section aria-labelledby="contact-title" class="contact-section" id="contact">
      <h1 id="contact-title">Contact Me</h1>
      <p class="contact-text-box">Email: <a href="mailto:s.arteaga007@outlook.com">s.arteaga007&#64;outlook.com</a></p>
      <p class="contact-text-box">Phone: +1 (561) 797-4813</p>
      <p class="contact-text-box">LinkedIn: <a href="https://www.linkedin.com/in/samjd/" rel="noopener noreferrer"
                                               target="_blank">linkedin.com/in/santiago</a></p>
    </section>
  </main>

  <footer class="footer">
    <p>Built with Angular 19 | © 2025 Santiago Arteaga</p>
  </footer>
</div>
